<div>
<div style="padding-left: 45%;">Login or Register to continue to your account</div>
<div class="leftBox">
<p>Login</p>
Username *: <input type="email" id="email" placeholder="abc@xyz.com" required/><br>
PassWord *: <input type="password" id="pass" placeholder="***********" required/>
<p><input type="submit" value="Login" ng-click="login(email,pass)"/></p>
</div>
<div class="rightBox">
<p>Register</p>
First Name *:<input type="text" placeholder="First Name" required/><br>
Last Name:
<input type="text" placeholder="Last Name" />
<br>
Phone Number *:
<input type="tel" placeholder="00000000000" required/>
<br>
Email *: <input type="email" placeholder="abc@xyz.com" required/><br>
Password *: <input type="password" placeholder="Password" required/><br>
Confirm Password *: <input type="password" placeholder="***************" required/>
<br>
<p>
    <input type="submit" value="Register" />
</p>
</div>
</div>